/* .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-bottom: 5px;
} */

@media screen and (max-width: 750px) {
  .btn {
    width: 5rem;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 510px) {
  .email {
    display: none;
  }

  .btn {
    width: 16vw;
  }
}

